[user]
	email = cwalker@mozilla.com
	name = Chad Walker
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHwj5cmB5X5VZMyxAG3rOhwC1IWxeKGjx4d+e8UPsifz
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
