[user]
	email = chad@cwalker.dev
	name = Chad Walker
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDskvLnsbpDORuwCypg1ryHuyBGmkCXTiLnBRtNh5lO9
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[core]
	editor = vi
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /private/var/folders/hz/36kt8w_56mdd694z79gfqw940000gn/T/AppTranslocation/FCE2B1BD-057B-4156-9D53-040D87C329C5/d/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = true
[rebase]
	gpgSign = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
