[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/chad/Desktop/|SanDisk_Ultra_Fit_4C530000160223102054_2.desktop]
row=9
col=0

[/home/chad/Desktop/|SanDisk_Ultra_Fit_4C530000160223102054_1.desktop]
row=10
col=0

[/home/chad/Desktop/|Lexar_USB_Flash_Drive_04L1B6A0VHSWE9NY_3.desktop]
row=0
col=1

[/home/chad/Desktop/|Lexar_USB_Flash_Drive_04L1B6A0VHSWE9NY_2.desktop]
row=1
col=1

[/home/chad/Desktop/|Lexar_USB_Flash_Drive_04L1B6A0VHSWE9NY_1.desktop]
row=2
col=1

[7728020439701526631]
row=1
col=0

[14161746066254287661]
row=8
col=0

[2023-08-10-05-06-25-00]
row=4
col=1

[1.8 TB Volume]
row=7
col=0

[a252da3a-32bf-4509-9413-0f7b5b2aa34b]
row=3
col=1

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/chad]
row=5
col=0

