[Desktop Entry]
Name=7-Zip File Manager
Exec=env WINEPREFIX="/home/chad/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/chad/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/7-Zip/7-Zip\\ File\\ Manager.lnk
Type=Application
StartupNotify=true
Icon=CFDC_7zFM.0
StartupWMClass=7zfm.exe
